<style>*{font-size: 18px}</style><title>文本文件预览</title><pre><SUF70UninstallData>
</pre>
<pre><DataFilePath>d:\Program Files\DICOM浏览器\Uninstall\uninstall.dat</DataFilePath>
</pre>
<pre><CPRegKey>SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\DICOM浏览器1.0.1.0</CPRegKey>
</pre>
<pre><EXELocation>C:\WINDOWS\DICOM浏览器\uninstall.exe</EXELocation>
</pre>
<pre><UninstallFiles>
</pre>
<pre><File>
</pre>
<pre><Filename>d:\Program Files\DICOM浏览器\dcm2xml.exe</Filename>
</pre>
<pre><DecrementUsageCount>0</DecrementUsageCount>
</pre>
<pre><UnregisterCOM>0</UnregisterCOM>
</pre>
<pre><UnregisterFont>0</UnregisterFont>
</pre>
<pre><FontDesc/>
</pre>
<pre><BackupFile/>
</pre>
<pre></File>
</pre>
<pre><File>
</pre>
<pre><Filename>d:\Program Files\DICOM浏览器\DicomLib.dll</Filename>
</pre>
<pre><DecrementUsageCount>0</DecrementUsageCount>
</pre>
<pre><UnregisterCOM>0</UnregisterCOM>
</pre>
<pre><UnregisterFont>0</UnregisterFont>
</pre>
<pre><FontDesc/>
</pre>
<pre><BackupFile/>
</pre>
<pre></File>
</pre>
<pre><File>
</pre>
<pre><Filename>d:\Program Files\DICOM浏览器\Readme.txt</Filename>
</pre>
<pre><DecrementUsageCount>0</DecrementUsageCount>
</pre>
<pre><UnregisterCOM>0</UnregisterCOM>
</pre>
<pre><UnregisterFont>0</UnregisterFont>
</pre>
<pre><FontDesc/>
</pre>
<pre><BackupFile/>
</pre>
<pre></File>
</pre>
<pre><File>
</pre>
<pre><Filename>d:\Program Files\DICOM浏览器\Viewer.exe</Filename>
</pre>
<pre><DecrementUsageCount>0</DecrementUsageCount>
</pre>
<pre><UnregisterCOM>0</UnregisterCOM>
</pre>
<pre><UnregisterFont>0</UnregisterFont>
</pre>
<pre><FontDesc/>
</pre>
<pre><BackupFile/>
</pre>
<pre></File>
</pre>
<pre></UninstallFiles>
</pre>
<pre><UninstallShortcuts>
</pre>
<pre><Filename>C:\Documents and Settings\Administrator\「开始」菜单\程序\DICOM浏览器\Readme.lnk</Filename>
</pre>
<pre><Filename>C:\Documents and Settings\Administrator\桌面\DICOM浏览器.lnk</Filename>
</pre>
<pre><Filename>C:\Documents and Settings\Administrator\「开始」菜单\程序\DICOM浏览器\DICOM浏览器.lnk</Filename>
</pre>
<pre><Filename>C:\Documents and Settings\Administrator\「开始」菜单\程序\DICOM浏览器\卸载 DICOM浏览器.lnk</Filename>
</pre>
<pre></UninstallShortcuts>
</pre>
<pre><UninstallSupportFiles>
</pre>
<pre><Filename>d:\Program Files\DICOM浏览器\Uninstall\IRIMG1.JPG</Filename>
</pre>
<pre><Filename>d:\Program Files\DICOM浏览器\Uninstall\IRIMG2.JPG</Filename>
</pre>
<pre></UninstallSupportFiles>
</pre>
<pre><UninstallFolders>
</pre>
<pre><FolderPath>d:\Program Files\DICOM浏览器</FolderPath>
</pre>
<pre><FolderPath>d:\Program Files\DICOM浏览器\Uninstall</FolderPath>
</pre>
<pre><FolderPath>C:\WINDOWS\DICOM浏览器</FolderPath>
</pre>
<pre><FolderPath>C:\Documents and Settings\Administrator\「开始」菜单\程序\DICOM浏览器</FolderPath>
</pre>
<pre></UninstallFolders>
</pre>
<pre><SessionVars>
</pre>
<pre><Var>
</pre>
<pre><Name>%ProductName%</Name>
</pre>
<pre><Value>DICOM浏览器</Value>
</pre>
<pre></Var>
</pre>
<pre><Var>
</pre>
<pre><Name>%CompanyName%</Name>
</pre>
<pre><Value>南方医科大学网络中心</Value>
</pre>
<pre></Var>
</pre>
<pre><Var>
</pre>
<pre><Name>%ProductVer%</Name>
</pre>
<pre><Value>1.0.1.0</Value>
</pre>
<pre></Var>
</pre>
<pre><Var>
</pre>
<pre><Name>%Copyright%</Name>
</pre>
<pre><Value>版权 (C)2009 %CompanyName%</Value>
</pre>
<pre></Var>
</pre>
<pre><Var>
</pre>
<pre><Name>%CompanyURL%</Name>
</pre>
<pre><Value>http://www.fimmu.com</Value>
</pre>
<pre></Var>
</pre>
<pre><Var>
</pre>
<pre><Name>%WindowTitle%</Name>
</pre>
<pre><Value>%ProductName% 安装</Value>
</pre>
<pre></Var>
</pre>
<pre><Var>
</pre>
<pre><Name>%AppFolder%</Name>
</pre>
<pre><Value>d:\Program Files\DICOM浏览器</Value>
</pre>
<pre></Var>
</pre>
<pre><Var>
</pre>
<pre><Name>%AppShortcutFolderName%</Name>
</pre>
<pre><Value>%ProductName%</Value>
</pre>
<pre></Var>
</pre>
<pre><Var>
</pre>
<pre><Name>%ApplicationDataFolder%</Name>
</pre>
<pre><Value>C:\Documents and Settings\Administrator\Application Data</Value>
</pre>
<pre></Var>
</pre>
<pre><Var>
</pre>
<pre><Name>%CommonFilesFolder%</Name>
</pre>
<pre><Value>C:\Program Files\Common Files</Value>
</pre>
<pre></Var>
</pre>
<pre><Var>
</pre>
<pre><Name>%DesktopFolder%</Name>
</pre>
<pre><Value>C:\Documents and Settings\Administrator\桌面</Value>
</pre>
<pre></Var>
</pre>
<pre><Var>
</pre>
<pre><Name>%DesktopFolderCommon%</Name>
</pre>
<pre><Value>C:\Documents and Settings\All Users\桌面</Value>
</pre>
<pre></Var>
</pre>
<pre><Var>
</pre>
<pre><Name>%FontsFolder%</Name>
</pre>
<pre><Value>C:\WINDOWS\Fonts</Value>
</pre>
<pre></Var>
</pre>
<pre><Var>
</pre>
<pre><Name>%MyDocumentsFolder%</Name>
</pre>
<pre><Value>D:\Backup\我的文档</Value>
</pre>
<pre></Var>
</pre>
<pre><Var>
</pre>
<pre><Name>%ProgramFilesFolder%</Name>
</pre>
<pre><Value>C:\Program Files</Value>
</pre>
<pre></Var>
</pre>
<pre><Var>
</pre>
<pre><Name>%StartFolder%</Name>
</pre>
<pre><Value>C:\Documents and Settings\Administrator\「开始」菜单</Value>
</pre>
<pre></Var>
</pre>
<pre><Var>
</pre>
<pre><Name>%StartFolderCommon%</Name>
</pre>
<pre><Value>C:\Documents and Settings\All Users\「开始」菜单</Value>
</pre>
<pre></Var>
</pre>
<pre><Var>
</pre>
<pre><Name>%StartProgramsFolder%</Name>
</pre>
<pre><Value>C:\Documents and Settings\Administrator\「开始」菜单\程序</Value>
</pre>
<pre></Var>
</pre>
<pre><Var>
</pre>
<pre><Name>%StartProgramsFolderCommon%</Name>
</pre>
<pre><Value>C:\Documents and Settings\All Users\「开始」菜单\程序</Value>
</pre>
<pre></Var>
</pre>
<pre><Var>
</pre>
<pre><Name>%StartupFolder%</Name>
</pre>
<pre><Value>C:\Documents and Settings\Administrator\「开始」菜单\程序\启动</Value>
</pre>
<pre></Var>
</pre>
<pre><Var>
</pre>
<pre><Name>%StartupFolderCommon%</Name>
</pre>
<pre><Value>C:\Documents and Settings\All Users\「开始」菜单\程序\启动</Value>
</pre>
<pre></Var>
</pre>
<pre><Var>
</pre>
<pre><Name>%SystemFolder%</Name>
</pre>
<pre><Value>C:\WINDOWS\system32</Value>
</pre>
<pre></Var>
</pre>
<pre><Var>
</pre>
<pre><Name>%WindowsFolder%</Name>
</pre>
<pre><Value>C:\WINDOWS</Value>
</pre>
<pre></Var>
</pre>
<pre><Var>
</pre>
<pre><Name>%SystemDrive%</Name>
</pre>
<pre><Value>C:</Value>
</pre>
<pre></Var>
</pre>
<pre><Var>
</pre>
<pre><Name>%TempFolder%</Name>
</pre>
<pre><Value>C:\DOCUME~1\ADMINI~1\LOCALS~1\Temp</Value>
</pre>
<pre></Var>
</pre>
<pre><Var>
</pre>
<pre><Name>%TempLaunchFolder%</Name>
</pre>
<pre><Value>C:\DOCUME~1\ADMINI~1\LOCALS~1\Temp\_ir_sf7_temp_0</Value>
</pre>
<pre></Var>
</pre>
<pre><Var>
</pre>
<pre><Name>%RegOwner%</Name>
</pre>
<pre><Value>雨林木风</Value>
</pre>
<pre></Var>
</pre>
<pre><Var>
</pre>
<pre><Name>%RegOrganization%</Name>
</pre>
<pre><Value>WwW.YlmF.CoM</Value>
</pre>
<pre></Var>
</pre>
<pre><Var>
</pre>
<pre><Name>%AppDrive%</Name>
</pre>
<pre><Value>C:</Value>
</pre>
<pre></Var>
</pre>
<pre><Var>
</pre>
<pre><Name>%DAOPath%</Name>
</pre>
<pre><Value>%CommonFiles%\Microsoft Shared\DAO</Value>
</pre>
<pre></Var>
</pre>
<pre><Var>
</pre>
<pre><Name>%SourceFilename%</Name>
</pre>
<pre><Value>E:\TDDownload\DICOMViewSeSD\DicomViewer1010.exe</Value>
</pre>
<pre></Var>
</pre>
<pre><Var>
</pre>
<pre><Name>%SourceFolder%</Name>
</pre>
<pre><Value>E:\TDDownload\DICOMViewSeSD</Value>
</pre>
<pre></Var>
</pre>
<pre><Var>
</pre>
<pre><Name>%SourceDrive%</Name>
</pre>
<pre><Value>E:</Value>
</pre>
<pre></Var>
</pre>
<pre><Var>
</pre>
<pre><Name>%SpaceAvailable%</Name>
</pre>
<pre><Value>117.32 GB</Value>
</pre>
<pre></Var>
</pre>
<pre><Var>
</pre>
<pre><Name>%SpaceRequired%</Name>
</pre>
<pre><Value>2.77 MB</Value>
</pre>
<pre></Var>
</pre>
<pre></SessionVars>
</pre>
<pre></SUF70UninstallData>
</pre>
